#redhi{
    color: red;
}
#name{
    border-radius: 90px;
    background-color: gray;
}
#ooo{
    font-size: 20px;
}
#sp{
    float: left;
}
.whbg{
    border-radius: 90px;
    background-color: white;
}